{% extends "base.html"%}
{% block sub_content %}
<br>
<br>

<div class="container">
  <form action="{{ url_for('download') }}" , method="POST">
    <input class="btn btn-primary btn-block" name="download" type="submit"
      value="Download Used CBT Code in csv Format"></input>
  </form>
</div>

{% if result1 %}

<div class="container">
  <h2 class="center-block">Thank You! Your data has been downloaded.</h2>
  <p>You may find the file at this directory: <strong>/root/flask-app/CBT-Code-Extractor/output</strong></p>
</div>

{% endif %}


{% endblock %}